<html>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </header>
    <style>
        #login {
            border: 1px solid black;
            width: fit-content;
            padding: 20px;
            margin: 0 auto; 
        }
        #login div {
            padding: 10px;
        }
        #login div a {
            width: 70px;
            display: inline-block;
        }
        #login button {
            padding: 5px;
            margin: 5px;
        }
    </style>
    <div id="login">
        <div>
            <a>用户名</a>
            <input v-model="username">
        </div>
        <div>
            <a>密码</a>
            <input v-model="password">
        </div>
        <div>
            <a>昵称</a>
            <input v-model="nickname">
        </div>
        <div>
            <a>电话</a>
            <input v-model="phone">
        </div>
        <button @click="register">注册</button>
    </div>
    <footer>
        <script>
            var a = new Vue({
                el: "#login",
                data: {
                    username: '',
                    password: '',
                    nickname: '',
                    phone: '',
                },
                methods: {
                    register: function() {
                        s = window.location.href
                        axios({
                            method: "post",
                            url: "http://localhost:8080/register",
                            headers: {
                                "Content-Type": "application/json; charset=UTF-8"
                            },
                                data: {
                                username: this.username,
                                password: this.password,
                                nickname: this.nickname,
                                phone: this.phone,
                                access_token: s.slice(s.indexOf('=')+1),
                            },
                            withCredentials: true,
                        }).then(response => {
                            window.alert("注册成功！");
                        }).catch(error => {
                            window.alert("失败！");
                        })
                    }
                }
            })
        </script>
    </footer>
</html>